body {
    background-image: url("../../../assets/registro/abstractLogoCGIYellowGraphicDe.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1080px;
    border-top: 100px solid black;
    border-bottom: 300px solid black;
  }

.inputLogin::placeholder{
    color:aliceblue
}