<div class="header4">
    <div class="bG"></div>
    <div class="abstractLogoCGIYellowGraphicDe"></div>
  </div>
  <div class="bG2"></div>
  <div class="rectangle611"></div>
  <div class="registro">Registro</div>
  <div class="rectangle614"><img src="assets/registro/rectangle-614-icon.svg" alt="" class="icon" /></div>
  <div class="rectangle613"></div>
  <div class="rectangle612"></div>
  <div class="usuario">Usuario:</div>
  <div class="nombre">Nombre:</div>
  <div class="apellido">Apellido:</div>
  <div class="iniciarSesion">Iniciar Sesión</div>
  <div class="rectangle6132"></div>
  <div class="contrasena">Contraseña</div>
  <div class="rectangle6142"></div>
  <div class="login">Login</div>
  
