<div class="container-fluid">
    <div class="row banner">
        <div class="col">
            <img class="marcas img-fluid" src="/assets/image16.png">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row banner">
        <div class="col">
            <img class="radeon img-fluid" src="/assets/_10016091.jpeg">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col experience">
        RECREA TU EXPERIENCIA
      </div>
    </div>
</div>
<div class="container">
    <div class="row garantias">
        <div class="col mt-2 frame1">
            <div class="icons8Garantia901">
            </div>
            <div class="pRODUCTOSGARANTIZADOS">pRODUCTOS GARANTIZADOS</div>
            <div class="equiposOriginalesTeOtorgamos1A">Equipos originales. Te otorgamos 1 año de garantia</div>
          </div>
          <div class="col mt-2 frame12">
            <div class="icons8SoporteEnLinea961"></div>
            <div class="frame2"><div class="aTENDEMOSTODASTUSDUDAS">aTENDEMOS TODAS TUS DUDAS</div></div>
            <div class="anteCualquierDudaNoDudesEnPreg">
              Ante cualquier duda no dudes en preguntar, nuestras lineas estan siempre disponibles
            </div>
          </div>
          <div class="col mt-2 frame13">
            <div class="icons8EntregaDeAlimentos1001"></div>
            <div class="frame4"><div class="eNTREGASADOMICILIO">eNTREGAS A DOMICILIO</div></div>
            <div class="entregasPorServientregaATodoEl">Entregas por servientrega a todo el pais.</div>
          </div>
          <div class="col mt-2 frame14">
            <div class="icons8Usuario961"></div>
            <div class="servicioPErsonalizado">Servicio PErsonalizado</div>
            <div class="nosEncargamosDeEscogerLasMejor">Nos encargamos de escoger las mejores opciones para ti.</div>
          </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
      <div class="col mejores">
        LAS MEJORES GRAFICAS DEL MERCADO
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4" style="background-color: #d9d9d9; height: 200px;">
        <div class="marcasDeTarjetasGraficas51"></div>
    </div>
    <div class="row mt-4" style="background-color: #d9d9d9; height: 200px;">
        <div class="rTX40_kv1"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4">
      <div class="col experience">
        NUESTRO MERCADO
      </div>
    </div>
</div>

<div class="container frame5">
    <div class="row mt-4">
        <div class="col frame52">
            <div class="icons8UnidadC21001"></div>
            <div class="discoDuroMecanicoHDD">Disco duro mecánico HDD</div>
        </div>
        <div class="col frame6">
            <div class="icons8Ssd1001"></div>
            <div class="unidadDeEstadoSolido">Unidad de estado solido</div>
        </div>
        <div class="col frame7">
            <div class="icons8ComputerCase621"></div>
            <div class="caseGabinete">Case- Gabinete</div>
        </div>
        <div class="col frame8">
            <div class="icons8Electronicos901"></div>
            <div class="procesadores">Procesadores</div>
          </div>
    </div>
    <div class="row mt-4">
        <div class="col frame9">
            <div class="icons8PowerSupply621"></div>
            <div class="fuenteDePoder">Fuente de poder</div>
        </div>
        <div class="col frame122">
            <div class="icons8CabezaDelVentilador901"></div>
            <div class="refrigeracionDeCPU">Refrigeración de CPU</div>
        </div>
        <div class="col frame11">
            <div class="icons8PlacaBase10011"></div>
            <div class="motherboard">Motherboard</div>
        </div>
        <div class="col frame10">
            <div class="icons8Ram961"></div>
            <div class="rAM">RAM</div>
        </div>
    </div>
</div>

<div class="container-fluid footerBig5">
    <div class="row">
      <div class="col">
        <div class="landify">TECHCOMPONENTS</div>
        <div class="icons8Redhat321"></div>
      </div>
      <div class="col">
        <div class="copyright2020LandifyUIKit">Copyright © 2020 Techcomponents.</div>
        <div class="allRightsReserved">All rights reserved</div>
      </div>
      <div class="col">
        <img src="/assets/path-icon.svg">
        <img src="/assets/path-icon2.svg">
        <img src="/assets/path-icon3.svg">
        <img src="/assets/path-icon4.svg">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="compania">Compañia</div>
        <div class="listItems">
          <div class="acercaDe">Acerca de</div>
          <div class="blog">Blog</div>
          <div class="contactanos">Contactanos</div>
        </div>
      </div>
      <div class="col">
        <div class="soporte">Soporte</div>
        <div class="listItems2">
          <div class="callCenter">Call center</div>
          <div class="terminosDeServicio">Terminos de servicio</div>
          <div class="status">Status</div>
        </div>
      </div>
      <div class="col">
        <div class="mantenteAlDia">Mantente al dia</div>
        <div class="emailInputField">
          <div class="inputFieldBG"></div>
          <div class="yourEmailAddress">Your email address</div>
        </div>
      </div>
    </div>
  </div>
  
  
