
<body>
    


    <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto " style="text-align: center;">
            <br>
            <br>
            <br>
            <br>

            <h2 style="color: white;">Se ha cerrado la sesión!</h2>
          </div>
          <div class="col-lg-6 mx-auto " style="text-align: center;">
            <br>
            <br>
            <br>
            <br>

            <h2 style="color: white;">Gracias por visitar nuestra tienda!</h2>
          </div>
        </div>
      </div>
 
</body>

 
